<h1>Acá va la vista del index</h1>

<section class="container">
<br><br>
<h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum quisquam neque rem odio ullam, nam excepturi veniam quas doloribus? Libero culpa minima unde quidem voluptate optio eveniet eaque rerum ipsum.</h5> <br><br>
</section>